body {
  background-image: url("https://i.pinimg.com/originals/fe/02/3b/fe023b93d6c0b95079b7704af192467b.jpg");
}

#container {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

#playAgainBtn {
  position: relative;
  display: block;
  border-color: black;
  outline-color: black;
  top: 35vh;
}

@media screen and (min-width: 575px){
  #playAgainBtn {
    left: 18%;
  }
}

@media screen and (min-width: 852px){
  #playAgainBtn {
    left: 39%;
  }
}

#rockBtn {
  position: relative;
  display: inline-block;
  border-color: black;
  outline-color: red;
  top: 30vh;
}

#paperBtn {
  position: relative;
  display: inline-block;
  border-color: black;
  outline-color: teal;
  top: 30vh;
}

#scissorsBtn {
  position: relative;
  display: inline-block;
  border-color: black;
  outline-color: yellow;
  top: 30vh;
}

.popupText {
  font-family: Arial;
  font-weight: bold;
}

#resultDiv {
  position: relative;
  top: 15vh;
  left: 43%;
  width: 15%;
  font-family: Arial;
  font-weight: bold;
}

#winnerDiv {
  position: relative;
  top: 15vh;
  left: 43%;
  width: 15%;
  font-family: Arial;
  font-weight: bold;
}

#currentScoreDiv {
  position: relative;
  top: 16vh;
  left: 38%;
  width: 25%;
  font-family: Arial;
  font-weight: bold;
}
